<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exchange.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @exchange.location %>
</p>

<p>
  <strong>Website:</strong>
  <%= @exchange.website %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @exchange.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @exchange.facebook %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @exchange.linkedin %>
</p>

<%= link_to 'Edit', edit_exchange_path(@exchange) %> |
<%= link_to 'Back', exchanges_path %>
