<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to 'Tokens', admin_tokens_path %>
  </li>
  <li class="breadcrumb-item active"><%= @token.name %></li>
</ol>

<h1><%= @token.name %></h1>
<hr>
<div class="row">
	<div class="col-md-12">
		<h2>Token Address</h2>
		<% if @token.address.blank? %>
		<p>No address</p>
		<% else %>
		<p><%= @token.address %></p>
		<% end %>
		<h2>Company</h2>
		<p><%= link_to @token.company.name, admin_company_path(@token.company) %></p>
	</div>
</div>

<% unless @token.address %>
<div class="row">
	<div class="col-md-8">
		<h2>Token Activity</h2>
		<div id="token-history-grouped-1"></div>		
		<script type="text/javascript">
		if (typeof (eWgs) === 'undefined') {
		    document.write('<scr' + 'ipt src="https://api.ethplorer.io/widget.js?' + new Date().getTime().toString().substr(0, 7) + '" async></scr' + 'ipt>');
		    var eWgs = [];
		}
		eWgs.push(function () {
		    ethplorerWidget.init(
		        '#token-history-grouped-1', // Placeholder element
		        'tokenHistoryGrouped', // Widget type
		        {
		            // token address
		            'address': '<%= @token.address %>',
		            options: {
		                'title': '<%= @token.company.name %>',
		                'pointSize': 7,
		                'vAxis': {
		                    'title': 'Token operations',
		                }
		            }
		        }

		    );
		});
		</script>
	</div>
</div>
<% end %>
<div class="row">
	<div class="col-md-5">
	<h2>Currency Pairs</h2>
		<table class="table table-bordered table-striped table-hover" width="100%" cellspacing="0">
			<tr>
				<th> Currency Pair</th>
				<th> Exchange</th>
				<th> Profile Chart</th>
				<th> Currency Pair Actions</th>
			</tr>
			<% @currencies.each do |currency| %>
			<tr>
				<td><%= currency.name %></td>
				<td><%= currency.exchange_name%></td>
				<td><%= currency.currency_exchange_profile %></td>
				<td><%= link_to 'View', admin_currency_path(currency) %> | <%= link_to 'Edit', edit_admin_currency_path(currency) %> | <%= link_to 'Delete', admin_currency_path(currency), method: :delete, data: { confirm: 'Are you sure?' } %>

			</tr>
			<% end %>

		
		</table>
	</div>	
</div>

<hr>
<div class="row">		
	<div class="col-md-4">
		<%= link_to 'Edit', edit_admin_token_path, class: "btn btn-info my-3 col-md-3"%>  <%= link_to 'Delete', admin_token_url(@token), class: "btn btn-danger my-3 col-md-3", method: :delete, data: { confirm: 'Are you sure?' } %> <%= link_to 'Back', :back, class: "btn btn-secondary my-3 col-md-3"%>
	</div>
</div>