<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to 'Articles', admin_articles_path %>
  </li>
  <li class="breadcrumb-item active">Articles</li>
</ol>
<%= link_to 'New Article', new_admin_article_path, class: "btn btn-success mb-3" %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Publication date</th>
      <th>Url</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.publication_date %></td>

        <td><%= article.article_url %></td>
        <td><%= link_to 'Show', admin_article_url(article) %> | <%= link_to 'Edit', edit_admin_article_path(article) %> | <%= link_to 'Destroy', admin_article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_admin_article_path %>
