
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to 'Companies', admin_companies_path %>
    </li>
    <li class="breadcrumb-item active">Companies</li>
  </ol>
	<%= link_to 'New Company', new_admin_company_path, class: "btn btn-success mb-3" %>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Name</th>
					<th>Token</th>
          <th>Description</th>
					<th>Dapp</th>
					<th>EEA Member</th>
          <th>Published</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Name</th>
					<th>Token</th>
          <th>Description</th>
					<th>EEA Member</th>
          <th>Published</th>
        </tr>
      </tfoot>
      <tbody>
				<% @companies.each do |company|%>
        <tr>
          <td><%= link_to company.name, admin_company_path(company) %></td>
					<td><%= company.token.name %>
          <td><%= company.description %></td>
					<td><%= company.dapp %>
					<td><%= company.alliance %>
          <td><%= company.published %></td>
        </tr>
				<% end %>
      </tbody>
    </table>
	</div>
