<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @currency.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @currency.company %>
</p>

<p>
  <strong>Exchange:</strong>
  <%= @currency.exchange %>
</p>

<%= link_to 'Edit', edit_currency_path(@currency) %> |
<%= link_to 'Back', currencies_path %>
