<%= provide(:title, "Currency") %>
<div class="main">
	<div class="section" style="padding-top: 60px;">
		<div class="container">
			<div class="row">
				
				<div class="col-md-12 mb-4" style="height: 400px;">
					<h1 class="h2"><%= @currency.name %> </h1>
					<% if @chart.present? %>
					<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
					<script type="text/javascript">
					new TradingView.widget({
					  "autosize": true,
					  "symbol": "<%= @chart.name.upcase %>:<%= @currency.name %>",
					  "interval": "D",
					  "timezone": "Etc/UTC",
					  "theme": "Light",
					  "style": "1",
					  "locale": "en",
					  "toolbar_bg": "#f1f3f6",
					  "enable_publishing": false,
					  "hide_top_toolbar": false,
					  "save_image": false,
					  "hideideas": true
					});
					</script>
					<% end %>
				</div>
				<div class="col-md-12">
					<h3>Company Profile</h3>
					<p><%= @currency.token.company.name %></p>
					<p>Token: <%= @currency.token.name %></p>
					<h3>Exchanges</h3>
					<% if @exchanges.present? %>
					<% @exchanges.each do |currency_exchange| %>
					<%= link_to currency_exchange.exchange.name, exchange_path(currency_exchange.exchange)%> 
					<% end %>
					<% end %>

				</div>
			</div>
		</div>
	</div>
</div>