<div class="page-header" data-parallax="true" style="background-image: url(http://assets.ethereumgrow.com/home.jpg);">
	<div class="filter"></div>
		<div class="container">
	    <div class="motto text-center">
				<h1>EthereumGrow</h1>
				<h3>The Best Cryptocurrency Assets Built on Ethereum</h3>
	    </div>
		</div>
	</div>
	<div class="main">
		<div class="section text-center">

			<div class="section section-dark text-center">
        <div class="container">
        <h2 class="title">Build unstoppable applications</h2>
				<div class="row">
					<div class="col-md-4">
						<div class="card card-profile card-plain">
							<div class="card-avatar">
								<img src="http://assets.ethereumgrow.com/ethereum.jpg" alt="...">
							</div>
							<div class="card-block">
								<div class="author">
									<h4 class="card-title">Ethereum </h4>
								</div>
								<p class="card-description text-center">
									Ethereum is a decentralized platform that runs smart contracts: applications that run exactly as programmed without any possibility of downtime, censorship, fraud or third party interference.
								</p>
							</div>
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="card card-profile card-plain">
              <div class="card-avatar">
								<img src="http://assets.ethereumgrow.com/ethereum-coin.jpg" alt="Ethereum coin">
              </div>
							<div class="card-block">                  
                <div class="author">
									<h4 class="card-title">Ether (ETH) </h4>
                </div>
								
								<p class="card-description text-center">
									Ether is a necessary element for operating the distributed application platform Ethereum. It is a form of payment (currency) made by the clients of the platform to the machines executing the requested operations.
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card card-profile card-plain">
							<div class="card-avatar">
								<img src="http://assets.ethereumgrow.com/ethereum-token.jpg" alt="...">
							</div>
							<div class="card-block">
                       
                <div class="author">
									<h4 class="card-title">Ethereum Token</h4>
                </div>
                    
                <p class="card-description text-center">
                Anyone can take advantage of Ethereum to build their DAPPS (decentralized applications) through smart contracts. This is a very important distinction because this very thing shows you the true scope of what is possible in Ethereum.
                </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<h2 class="title">What's an ICO?</h2>
					<h5 class="description">An Initial Coin Offering (ICO) is used by startups to bypass the rigorous and regulated capital-raising process required by venture capitalists or banks. In an ICO campaign, a percentage of the cryptocurrency is sold to early backers of the project in exchange for legal tender or other cryptocurrencies.</h5>
				</div>
			</div>
			<br/><br/>
			<div class="row">
				<% @companies.each do |company| %>
				<div class="col-md-4">
					<div class="info">
					
						<div class="card-deck">
						  <div class="card">
								<%= image_tag "http://assets.ethereumgrow.com/#{company.avatar}", class: "card-img-top img-responsive", style: "width: 100%", alt: "" if company.avatar? %>
						    <div class="card-block">
						      <h4 class="card-title"><%= company.name %> (<%= company.asset %>) </h4>

						      <p class="card-text"><%= company.description %></p>
									<hr>
						      <p class="card-text"><small class="text-muted">ICO size: $<%= number_to_human(company.ico_size, strip_insignificant_zeros: true, precision: 5) %> MM </small></p>
									<%= link_to "View Details", company_path(company), class: "btn btn-info btn-round mt-2"%>
						    </div>
						  </div>
						</div>
					
					</div>
  			</div>
				<% end %>
			
			</div>
			<%= link_to "View more", companies_path, class: "btn btn-danger btn-round text-center my-4" %>
		</div>
	</div>
</div>

