<%= provide(:title, "Home") %>
<div class="page-header" data-parallax="true" style="background-image: url(https://drgy3zruql9d7.cloudfront.net/home.jpg);">
	<div class="filter"></div>
		<div class="container">
	    <div class="motto text-center">
				<h1 class="h2">EthereumGrow</h1>
				<h2 class="h3">Decentralized apps creating value in Ethereum</h2>
	    </div>
		</div>
	</div>
	<div class="main">
		<div class="section text-center">
			<div class="section section-dark text-center">
        <div class="container">
        <h3 class="title h2">What is Ethereum?</h3>
				<div class="row">
					<div class="col-md-4">
						<div class="card card-profile card-plain">
							<div class="card-avatar">
								<img src="https://drgy3zruql9d7.cloudfront.net/ethereum.jpg" alt="Ethereum logo">
							</div>
							<div class="card-block">
								<div class="author">
									<h4 class="card-title">Ethereum Platform</h4>
								</div>
								<p class="card-description text-center">
									Ethereum is a decentralized blockchain platform that runs smart contracts &mdash; applications that run exactly as programmed without any possibility of downtime, censorship, fraud or third party interference.
								</p>
							</div>
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="card card-profile card-plain">
              <div class="card-avatar">
								<img src="https://drgy3zruql9d7.cloudfront.net/ethereum-coin.jpg" alt="Ethereum coin">
              </div>
							<div class="card-block">                  
                <div class="author">
									<h4 class="card-title">Ethereum Currency </h4>
                </div>								
								<p class="card-description text-center">
									Ethereum provides a cryptocurrency token called "ether", which can be transferred between accounts and used to compensate participant nodes for computations performed.
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card card-profile card-plain">
							<div class="card-avatar">
								<img src="https://drgy3zruql9d7.cloudfront.net/ethereum-token.jpg" alt="Ethereum smart contract">
							</div>
							<div class="card-block">                       
                <div class="author">
									<h4 class="card-title">Ethereum Token</h4>
                </div>                    
                <p class="card-description text-center">
                Anyone can take advantage of Ethereum to build their DApps (decentralized applications) through smart contracts. This is a very important distinction because this very thing shows you the true scope of what is possible in Ethereum.
                </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
		<div class="container">
			<h3 class="text-center py-4 h2">Ethereum DApps </h3>
			<p class="pb-3">The intention of Ethereum is to create an alternative protocol for building decentralized applications with emphasis on development time, security, and scaling. Examples of successful Ethereum-based DApps that have achieved millions of dollars in market cap include <%= link_to 'Golem', company_path(Company.find_by_name("Golem")) %>, <%= link_to 'Angur', company_path(Company.find_by_name("Angur")) %> and <%= link_to 'OmiseGo', company_path(Company.find_by_name("OmiseGo")) %>.</p>
			<div class="row pt-4">				
				<% @companies.each do |company| %>
				<div class="col-md-4">
					<div class="info">					
						<div class="card-deck">
						  <div class="card">
								<%= link_to company_path(company) do %>
								<%= image_tag "https://drgy3zruql9d7.cloudfront.net/#{company.avatar}", class: "card-img-top img-responsive", style: "width: 100%", alt: "#{company.name} avatar" if company.avatar? %>
								<% end %>
						    <div class="card-block">
						      <h3 class="card-title"><%= company.name %> <small>(<%= company.token.name if company.token.present? %>) </small></h3>
						      <p class="card-text"><%= company.description %></p>
									<hr>

									<%= link_to "View Details", company_path(company), class: "btn btn-info btn-round mt-2"%>
						    </div>
						  </div>
						</div>					
					</div>
  			</div>
				<% end %>			
			</div>
			<%= link_to "View more DApps", companies_path, class: "btn btn-danger btn-round text-center my-4" %>
					
			<h3 class="text-center py-4 h2">Ether vs. US Dollar </h3>
			<div class="row pb-3" style="height: 480px; width: 100%;">	
				<div class="col-md-12 h-100 d-inline-block">	
					<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
					<script type="text/javascript">
					new TradingView.widget({
					  "autosize": true,
					  "symbol": "COINBASE:ETHUSD",
					  "interval": "D",
					  "timezone": "Etc/UTC",
					  "theme": "Light",
					  "style": "1",
					  "locale": "en",
					  "toolbar_bg": "#f1f3f6",
					  "enable_publishing": false,
					  "hide_top_toolbar": true,
					  "save_image": false,
					  "hideideas": true
					});
					</script>						
				</div>		
			</div>
		</div>		
	</div>	
</div>