<%= form_for(company) do |f| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	
  <div class="form-group">
    <%= f.label :name, "Company Name" %>
    <%= f.text_field :name, class: "form-control", placeholder: "Enter company name" %>
  </div>
  
	<div class="form-check">
    <%= f.label :published %>
 	 	<%= f.check_box :published %>
  </div>
	
  <div class="form-check">
    <%= f.label :dapp %>
    <%= f.check_box :dapp %>
  </div>
	
  <div class="form-check">
    <%= f.label :alliance, "Ethereum Enterprise Alliance" %>
    <%= f.check_box :alliance %>
  </div>
		
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 5, class: "form-control" %>
  </div>
	
  <div class="form-group">
    <%= f.label :meta_description %>
    <%= f.text_area :meta_description, rows: 5, class: "form-control" %>
  </div>
	
  <div class="form-group">
    <%= f.label :white_paper, "White paper url" %>
    <%= f.text_field :white_paper, class: "form-control" %>
  </div>
	
  <div class="form-group">
    <%= f.label :website %>
    <%= f.text_field :website, class: "form-control" %>
  </div>
	
  <div class="form-group">
    <%= f.label :image, "Header image url" %>
    <%= f.text_field :image, class: "form-control col-md-8" %>
  </div>
	
  <div class="form-group">
    <%= f.label :avatar, "Avatar image url" %>
    <%= f.text_field :avatar, class: "form-control col-md-8" %>
  </div>
	
  <div class="form-group">
    <%= f.label :video_thumb, "Video image url" %>
    <%= f.text_field :video_thumb, class: "form-control col-md-8" %>
  </div>
	
  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location, class: "form-control" %>
  </div>
	
  <div class="form-group">
    <%= f.label :google_keyword %>
    <%= f.text_field :google_keyword, class: "form-control" %>
  </div>
	
	<div class="form-group">
	<%= f.fields_for :token do |token| %>	
		<%= token.label :name, "Token name:" %>
	  <%= token.text_field :name, class: "form-control col-md-4" %>
		<% end %>
	</div>
	
	
	<div class="form-group">
	<%= f.fields_for :company_exchanges do |exchange| %>	
		<%= render 'companies/exchange_fields', f: exchange %>
	<% end %>
	
	<%= link_to_add_association 'add exchange', f, :company_exchanges, class: "btn btn-primary btn-sm" %>
	</div>
	
	<hr>

	

	

	

	



  <div class="field">
    <%= f.label :contact %>
    <%= f.text_field :contact %>
  </div>


  <div class="field">
    <%= f.label :twitter %>
    <%= f.text_field :twitter %>
  </div>

  <div class="field">
    <%= f.label :facebook %>
    <%= f.text_field :facebook %>
  </div>

  <div class="field">
    <%= f.label :linkedin %>
    <%= f.text_field :linkedin %>
  </div>

  <div class="field">
    <%= f.label :slack %>
    <%= f.text_field :slack %>
  </div>

  <div class="field">
    <%= f.label :telegram %>
    <%= f.text_field :telegram %>
  </div>

  <div class="field">
    <%= f.label :github %>
    <%= f.text_field :github %>
  </div>
	
  <div class="field">
    <%= f.label :medium %>
    <%= f.text_field :medium %>
  </div>
	
  <div class="field">
    <%= f.label :angellist %>
    <%= f.text_field :angellist %>
  </div>

  <div class="field">
    <%= f.label :youtube %>
    <%= f.text_field :youtube %>
  </div>
	
  <div class="field">
    <%= f.label :reddit %>
    <%= f.text_field :reddit %>
  </div>
	

	
	<div class="field">
		<%= f.label :ico_open_date %>
	  <%= f.date_field :ico_open_date %>
	</div>
	
	
  <div class="field">
    <%= f.label :ico_close_date %>
    <%= f.date_field :ico_close_date %>
  </div>
	
  <div class="field">
    <%= f.label :ico_size %>
    <%= f.text_field :ico_size %>
  </div>
	
  <div class="field">
    <%= f.label :video %>
    <%= f.text_field :video %>
  </div>
	


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
