<%= provide(:title, "Ethereum DApps") %>
<div class="main">
	<div class="section" style="padding-top: 60px;">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mb-4">
					<h1 class="h2">Ethereum DApps</h1>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-md-9">
					<div class="row">
					<% @companies.each do |company| %>
					<div class="col-md-12">						
				    <div class="card">
				      <div class="row ">
				        <div class="col-md-4">
									<%= link_to company_path(company) do %>
										<%= image_tag "https://drgy3zruql9d7.cloudfront.net/#{company.avatar}", class: "card-img-top w-100", alt: "#{company.name} avatar" if company.image? %>
									<% end %>
				          </div>
				          <div class="col-md-8 px-3">
				            <div class="card-block px-3">
				              <h2 class="card-title"><%= company.name %> <small><strong>(<%= company.token.name %>)</strong></small> </h2>
				              <p class="title"><%= company.description %> </p>
             
				              <%= link_to "View Details", company_path(company), class: "btn btn-primary"%>
				            </div>
				          </div>
				        </div>
				      </div>
				    </div>	  	
						<% end %>
						
					</div>
					<%= paginate(@companies, theme: 'twitter-bootstrap-4') %>
				</div>
				<div class="col-md-3">
				
				</div>				
			</div>
		</div>
	</div>
</div>