<%= provide(:title, "#{@company.name} (#{@company.token.name})") %>
<%= provide(:description, "#{@company.description.truncate(156, separator: '...')}") %>
<div class="wrapper">
	<div class="page-header page-header-xs" data-parallax="true" style="background-image: url(http://drgy3zruql9d7.cloudfront.net/<%= @company.image %>);">
		<div class="filter"></div>
	</div>
	<div class="section profile-content">
		<div class="container">
			<div class="owner">
				<div class="avatar">
					<img src="http://drgy3zruql9d7.cloudfront.net/<%= @company.avatar %>" alt="<%= @company.name %> avatar" class="img-circle img-no-padding img-responsive">
				</div>
				<div class="name">
					<h1><%= @company.name %> <small><strong>(<%= @company.token.name %>)</strong></small></h1>
					<h2 class="h3 pb-2">$<%= number_to_human(@company.ico_size, strip_insignificant_zeros: true, precision: 5) %> MM ICO</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 offset-md-3 text-center">
          <p class="pb-2"><%= @company.description %> </p>
          <ul class="list-unstyled list-inline">
						<li class="list-inline-item">
							<%= link_to "#{@company.white_paper}", class: "btn btn-outline-default btn-round", target: "_blank", title: "#{@company.name} white paper PDF" do %>
								<i class="fa fa-file-pdf-o"></i> White paper
							<% end %>
						</li>
						<li class="list-inline-item">
							<%= link_to "#{@company.website}", class: "btn btn-outline-default btn-round", target: "_blank", title: "#{@company.name} website" do %>
								<i class="fa fa-globe"></i> Website
							<% end %>
						</li>
					</ul>
				</div>
			</div>
			<% if @company.video.present? %>
			<div class="row">
				<div class="col-md-8 offset-md-2 pt-4">
					<div class="embed-responsive embed-responsive-16by9">					
  					<iframe class="embed-responsive-item" src="<%= @company.video %>" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<% end %>
			
			<% if @charts.present? %>			
			<div class="row">
				<% @charts.each do |chart| %>				
				<div class="pt-3 pb-5" style="height: 415px; width: 100%;">	
					<div class="col-md-8 offset-md-2 h-100 d-inline-block">				
						<h3 class="pb-2"><%= chart.currency_name.upcase.insert(-4, '/') %></h3>
					
						<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
						<script type="text/javascript">
						new TradingView.widget({
						  "autosize": true,
						  "symbol": "<%= chart.exchange_name.upcase %>:<%= chart.currency_name.upcase %>",
						  "interval": "D",
						  "timezone": "Etc/UTC",
						  "theme": "Light",
						  "style": "1",
						  "locale": "en",
						  "toolbar_bg": "#f1f3f6",
						  "enable_publishing": false,
						  "hide_top_toolbar": true,
						  "save_image": false,
						  "hideideas": true
						});
						</script>	
					
					</div>			
				</div>
				<% end %>
			</div>
			<% end %>
		
		</div>
	</div>
</div>